@charset "UTF-8";
/* reset.css */
body, html {
	-webkit-text-size-adjust: 100%;
	font-size: 15px;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	line-height: 2;
}

@media screen and (max-width: 374px) {
body, html {
	font-size: 12px;
	line-height: 1.4;
}
}

@media screen and (min-width: 375px) and (max-width: 639px) {
body, html {
	font-size: 13px;
	line-height: 1.65;
}
}
h1, h2, h3, h4, h5, h6 {
	font-size: 15px;
}

@media screen and (max-width: 374px) {
h1, h2, h3, h4, h5, h6 {
	font-size: 12px;
	line-height: 1.3;
}
}

@media screen and (min-width: 375px) and (max-width: 639px) {
h1, h2, h3, h4, h5, h6 {
	font-size: 13px;
	line-height: 1.4;
}
}
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style: normal;
	font-weight: normal;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
input, textarea {
	margin: 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
input, textarea, select {
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
img {
	vertical-align: top;
}
a:focus {
	outline: none;
}
/* clearfix */
.clearfix {
 *zoom:1;
}
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
body, html {
	overflow-x: hidden;
	width: 100%;
}
body a, html a {
	text-decoration: none;
}
body a:hover, html a:hover {
	color: #00f;
}

@media screen and (max-width: 639px) {
img {
	width: 100%;
	height: auto;
}
}

@media screen and (min-width: 640px) {
a img {
	transition: opacity .3s ease-in;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
a:hover img {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: alpha(opacity=70);
}
}
#wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}

@media screen and (max-width: 639px) {
#wrapper {
	width: 100%;
}
#wrapper .show_sp {
	display: block;
}
#wrapper .hide_sp {
	display: none;
}
#wrapper .imgPC {
	display: none;
}
}

@media screen and (min-width: 640px) {
#wrapper .show_sp {
	display: none;
}
#wrapper .imgSP {
	display: none;
}
#wrapper .hide_sp {
	display: block;
}
}

@media screen and (max-width: 639px) {
.inner01 {
	padding: 0 3.125%;
}
}

@media screen and (min-width: 640px) {
.inner01 {
	position: relative;
	width: 980px;
	margin: 0 auto;
}
}
.overlay {
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 900;
	background: rgba(255, 255, 255, 0);
}
.contents {
	z-index: 100;
	position: relative;
	/*Chromeチラつき対策*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#header {
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;
	left: 0;
	height: 60px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#header .header_inner {
	position: relative;
	background: #101C2C;
	box-shadow: 0 3px 6px rgba(96, 96, 96, 0.1);
	z-index: 100;
	height: 60px;
}

@media screen and (max-width: 639px) {
#header .siteName {
	width: 105px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-left: 6px;
}
}

@media screen and (min-width: 640px) {
#header {
	height: 70px;
}
#header .header_inner {
	height: 70px;
}
#header .siteName {
	padding: 20px;
}
#header .siteName a:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter: alpha(opacity=80);
}
}

@media screen and (orientation: landscape) {
#header {
	width: 100%;
}
}
#gNav {
	position: absolute;
	z-index: 10;
	top: -1000px;
	left: 0;
	width: 100%;
	transition: all .4s ease-in-out;
	background: rgba(215, 233, 236, 0.95);
	overflow: auto;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#gNav.opened {
	top: 60px;
}
#gNav .contentsNav, #gNav .sns {
	margin: 0 auto;
}
#gNav .contentsNav li a {
	display: block;
	border-bottom: 1px dotted #7F7F7F;
	background: url(../img/common/gnav_01.png) left center no-repeat;
	background-size: 100% auto;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	line-height: 0;
}
#gNav .contentsNav .gnav02 a {
	background-image: url(../img/common/gnav_02.png);
}
#gNav .contentsNav .gnav03 a {
	background-image: url(../img/common/gnav_03.png);
}
#gNav .contentsNav .gnav04 a {
	background-image: url(../img/common/gnav_04.png);
}
#gNav .contentsNav .gnav05 a {
	background-image: url(../img/common/gnav_05.png);
}
#gNav .sns {
	margin-top: 20px;
}
#gNav .sns a {
	display: block;
	background: url(../img/common/gnav_06.png) left center no-repeat;
	background-size: 100% auto;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	line-height: 0;
}

@media screen and (max-width: 639px) {
#gNav .contentsNav, #gNav .sns {
	width: 93.75%;
	min-width: 274px;
}
#gNav .contentsNav li a, #gNav .sns li a {
	height: 0;
	padding-top: 18.79562%;
}
#gNav .inner {
	padding-bottom: 20px;
}
}

@media screen and (max-width: 639px) and (orientation: portrait) {
#gNav .inner {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
}

@media screen and (min-width: 640px) {
#gNav {
	padding: 30px 0 40px;
}
#gNav .contentsNav, #gNav .sns {
	width: 415px;
}
#gNav .contentsNav li a, #gNav .sns li a {
	height: 78px;
}
#gNav a {
	transition: opacity .3s ease-in;
}
#gNav a:hover {
	opacity: 0.75;
}
}
#menuTrigger {
	position: fixed;
	z-index: 10001;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: #956C1A;
	background-size: auto 100%;
	transition: all .4s ease-in-out;
	cursor: pointer;
}
#menuTrigger span, #menuTrigger::before, #menuTrigger::after {
	position: absolute;
	width: 22px;
	height: 2px;
	background: #fff;
	transition: all .4s ease-in-out;
}
#menuTrigger.opened span {
	opacity: 0;
}
#menuTrigger.opened::before {
	transform: rotate(-135deg);
}
#menuTrigger.opened::after {
	transform: rotate(135deg);
}

@media screen and (max-width: 639px) {
#menuTrigger span, #menuTrigger::before, #menuTrigger::after {
	right: 18px;
}
#menuTrigger span {
	top: 28px;
}
#menuTrigger::before {
	content: '';
	top: 20px;
}
#menuTrigger::after {
	content: '';
	top: 36px;
}
#menuTrigger.opened::before, #menuTrigger.opened::after {
	top: 28px;
	right: 15px;
	width: 27px;
}
}

@media screen and (min-width: 640px) {
#menuTrigger {
	width: 70px;
	height: 70px;
}
#menuTrigger span, #menuTrigger::before, #menuTrigger::after {
	right: 23px;
}
#menuTrigger span {
	top: 34px;
}
#menuTrigger::before {
	content: '';
	top: 26px;
}
#menuTrigger::after {
	content: '';
	top: 42px;
}
#menuTrigger.opened::before, #menuTrigger.opened::after {
	top: 33px;
	right: 21px;
	width: 27px;
}
}
.menu_overlay {
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 110;
	background: rgba(0, 0, 0, 0.49);
}
#footer {
	position: relative;
	z-index: 100;
	border-top: 6px solid #D4E7F0;
	background: #fff;
}
#footer .contentsNav a {
	color: #333;
}
#footer .insta a {
	background: url(../img/common/icon_instagram_01.png) 0 0 no-repeat;
}
#footer .copyright {
	margin-top: 5px;
	font-size: 0.688rem;
	line-height: 1.2;
	color: #999;
	font-family: helvetica, Verdana, Geneva, "sans-serif";
}

@media screen and (max-width: 639px) {
#footer {
	padding: 15px 0;
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
#footer .logo {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 12px;
	width: 39.53125%;
}
#footer .right {
	border-left: 1px solid #e5e5e5;
	width: 60.46875%;
	padding: 0 12px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#footer .contentsNav li {
	font-size: 0.813rem;
}
#footer .insta a {
	background-size: 1.2em auto;
	background-position: right center;
	padding-right: 1.4em;
}
}

@media screen and (min-width: 640px) {
#footer {
	height: 135px;
}
#footer .logo {
	position: absolute;
	left: 10px;
	top: 30px;
}
#footer .right {
	position: absolute;
	top: 44px;
	right: 10px;
	text-align: right;
}
#footer .contentsNav {
	font-size: 0;
}
#footer .contentsNav li {
	display: inline-block;
	line-height: 19px;
	font-size: 0.938rem;
}
#footer .contentsNav li:nth-child(-n+5)::after {
	content: "|";
	color: #dadada;
	display: inline-block;
	padding: 0 10px;
}
#footer .copyright {
	margin-top: 10px;
	font-size: 0.75rem;
}
#footer .insta a {
	display: inline-block;
	vertical-align: bottom;
	height: 19px;
	width: 19px;
	background-size: 100% auto;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
}
#pageTop {
	position: fixed;
	z-index: 99999;
	display: none;
	width: 64px;
	height: 64px;
}

@media screen and (max-width: 639px) {
#pageTop {
	right: 5px;
	bottom: 5px;
}
}

@media screen and (min-width: 640px) {
#pageTop {
	left: 50%;
	bottom: 20px;
	width: 90px;
	height: 90px;
	margin-left: -45px;
}
#pageTop a {
	position: relative;
}
}
#loading {
	width: 100%;
	height: 100%;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	background: #1376a5 url(../img/common/loading.gif) center center no-repeat;
}
.acTrigger {
	cursor: pointer;
	position: relative;
}
.acTrigger.opened::after {
	content: "";
	display: block;
	position: absolute;
	height: 10px;
	width: 10px;
	top: 50%;
	right: 10px;
	background: #000;
}
.acTrigger + * {
	display: none;
	height: 300px;
	background: #fff;
}
#gotoContact {
	padding: 50px 0;
	text-align: center;
}
#gotoContact .btnContact {
	display: inline-block;
	vertical-align: top;
	width: 600px;
	height: 73px;
	background: url(../img/common/btn_contactus_pc.png) 0 0 no-repeat;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	transition: opacity .3s ease-in;
}
#gotoContact .btnContact:hover {
	opacity: 0.8;
}

@media screen and (max-width: 639px) {
#gotoContact {
	padding: 20px 0;
}
#gotoContact .btnContact {
	width: 300px;
	height: 44px;
	background-size: 100% auto;
	background-image: url(../img/common/btn_contactus_sp.png);
	background-size: 100% auto;
}
}
.topicPath {
	border-bottom: 1px solid #E5E5E5;
	font-size: 0.875rem;
	line-height: 1.8;
	padding: 40px 0;
}
.topicPath a, .topicPath a:hover {
	color: #d16d42;
}
.topicPath span {
	display: inline-block;
	width: 20px;
	background: url(../img/common/topicpath_img_01.png) center center no-repeat;
	background-size: auto 1em;
	text-indent: -99999px;
}
.topicPath strong {
	font-weight: normal;
}

@media screen and (max-width: 639px) {
.topicPath {
	padding: 10px 0;
}
}

@media all and (-ms-high-contrast: none) {
.topicPath span {
	position: relative;
	top: -2px;
}
}
.pagenation {
	display: none;
	padding: 40px 0 100px;
	text-align: center;
	font-size: 0;
}
.pagenation li {
	display: inline-block;
	width: 30px;
	margin: 0 5px;
	background: #364446;
	font-size: 1.125rem;
	line-height: 30px;
	color: #fff;
	opacity: 0.4;
}
.pagenation li a {
	display: block;
	background: #364446;
	color: #fff;
	vertical-align: bottom;
}
.pagenation li.active {
	opacity: 1;
}

@media screen and (max-width: 639px) {
.pagenation {
	padding: 20px 0 40px;
}
}
.wp-pagenavi {
	padding: 40px 0 100px;
	text-align: center;
	font-size: 0;
}
.wp-pagenavi a, .wp-pagenavi a:hover, .wp-pagenavi .current {
	display: inline-block;
	width: 30px;
	margin: 0 5px;
	background: #364446;
	opacity: 0.4;
	vertical-align: bottom;
	font-size: 1.125rem;
	line-height: 30px;
	color: #fff;
}
.wp-pagenavi span.current {
	opacity: 1;
}

@media screen and (max-width: 639px) {
.wp-pagenavi {
	padding: 20px 0 40px;
}
}
#detailFootNav {
	border-top: 1px solid #E5E5E5;
	padding: 50px 0;
}
#detailFootNav .next, #detailFootNav .prev {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	z-index: 100;
}
#detailFootNav .next a, #detailFootNav .prev a {
	display: block;
}

@media screen and (max-width: 639px) {
#detailFootNav {
	padding: 20px 3.125%;
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
}
#detailFootNav .backtoList {
	display: block;
	width: 76%;
	order: 2;
}
#detailFootNav .next, #detailFootNav .prev {
	display: block;
	height: 31px;
	width: 20px;
}
#detailFootNav .next a, #detailFootNav .prev a {
	height: 31px;
	width: 20px;
	background: url(../img/common/arrow_02.png) 0 0 no-repeat;
	background-size: auto 100%;
}
#detailFootNav .prev {
	order: 1;
}
#detailFootNav .next {
	order: 3;
}
#detailFootNav .next a {
	background-position: top right;
}
}

@media screen and (min-width: 640px) {
#detailFootNav {
	text-align: center;
}
#detailFootNav .next, #detailFootNav .prev {
	position: absolute;
	height: 120px;
	width: 45px;
	top: calc(50% - 150px);
	transition: opacity .3s ease-in;
}
#detailFootNav .next a, #detailFootNav .prev a {
	height: 120px;
	width: 45px;
	background: url(../img/common/arrow_01.png) 0 0 no-repeat;
}
#detailFootNav .next:hover, #detailFootNav .prev:hover {
	opacity: 0.8;
}
#detailFootNav .prev {
	left: 0;
}
#detailFootNav .next {
	right: 0;
}
#detailFootNav .next a {
	background-position: top right;
}
}

/*# sourceMappingURL=common.css.map */
