#pageTitle {
  background:url(../img/contact/contact_kv_bg_pc.jpg) top center no-repeat; }
  @media screen and (max-width: 639px) {
    #pageTitle {
      background-image:url(../img/contact/contact_kv_bg_sp.jpg);
      background-size:cover;
      padding-top:58.75%;
      position:relative; }
      #pageTitle h1 {
        position:absolute;
        top:52.65957%;
        width:100%;
        text-align:center; }
        #pageTitle h1 img.show_sp {
          width:46.40625%;
          display:inline-block !important; } }
  @media screen and (min-width: 640px) {
    #pageTitle {
      height:375px;
      background-size:cover; }
      #pageTitle h1 {
        width:980px;
        margin:0 auto;
        position:relative;
        top:92px; } }

#read {
  text-align:center;
  padding:40px 0 20px; }
  @media screen and (max-width: 639px) {
    #read {
      padding:20px 3.125%; } }
  @media screen and (min-width: 640px) {
    #read {
      font-weight:bold; } }

.cats {
  background:url(../img/contact/contact_img_03.gif) left bottom repeat-x;
  text-align:center;
  padding-bottom:35px;
  margin-bottom:50px; }
  @media screen and (max-width: 639px) {
    .cats {
      padding-bottom:22px;
      margin-bottom:20px;
      background-size:auto 30px; }
      .cats img {
        width:62.5%; } }

#mailformpro {
  padding-bottom:50px; }
  #mailformpro .en {
    color:#999;
    font-size:0.8em; }
  #mailformpro .label {
    margin-bottom:5px; }
  #mailformpro em {
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    background:url(../img/contact/contact_img_04.png) 0 0 no-repeat;
    height:0.9em;
    width:0.9em;
    margin-right:5px;
    display:inline-block;
    background-size:contain;
    vertical-align:baseline; }
  #mailformpro .select {
    position:relative; }
    #mailformpro .select::before, #mailformpro .select::after {
      position:absolute;
      content:"";
      width:30px;
      height:30px;
      display:block;
      pointer-events:none; }
    #mailformpro .select::before {
      width:0;
      height:0;
      right:10px;
      top:12px;
      border-style:solid;
      border-width:7px 5px 0 5px;
      border-color:#fff transparent transparent transparent; }
    #mailformpro .select::after {
      border-left:2px solid #fff;
      right:0;
      top:0; }
  #mailformpro .btnSubmit {
    text-align:center; }
    #mailformpro .btnSubmit input {
      width:420px;
      height:46px;
      border:none;
      background:url(../img/contact/bnt_submit.gif) 0 0 no-repeat;
      background-size:100% auto;
      overflow:hidden;
      text-indent:100%;
      white-space:nowrap;
      cursor:pointer;
      transition:opacity .3s ease-in; }
      #mailformpro .btnSubmit input:hover {
        opacity:0.8; }
  @media screen and (max-width: 639px) {
    #mailformpro {
      padding-bottom:30px; }
      #mailformpro .formItem {
        margin-bottom:10px; }
      #mailformpro .note {
        text-align:center;
        margin-bottom:15px; }
      #mailformpro .btnSubmit input {
        width:84%;
        max-width:420px; } }
  @media screen and (min-width: 640px) {
    #mailformpro {
      width:775px;
      margin:0 auto; }
      #mailformpro .note {
        clear:both;
        padding:5px 0 15px 195px;
        font-size:0.75rem; }
      #mailformpro .label {
        width:195px;
        float:left;
        clear:both;
        margin-bottom:20px;
        line-height:1.5; }
        #mailformpro .label .en {
          display:block; }
      #mailformpro .formItem {
        width:580px;
        float:left; }
      #mailformpro .select {
        width:300px; } }

#mfp_hidden {
  display:none; }

select, option, input[type="text"], input[type="email"], input[type="tel"], textarea {
  width:100%;
  background:#fff;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  border:1px solid #ccc; }
  @media screen and (max-width: 639px) {
    select, option, input[type="text"], input[type="email"], input[type="tel"], textarea {
      font-size:16px; } }

select, option, input {
  padding:5px 1px; }

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0px 1000px white inset; }

input[type="image"] {
  display:block;
  padding:0;
  border:none; }
  @media screen and (max-width: 639px) {
    input[type="image"] {
      width:93.33333%;
      margin:0 auto; } }
  @media screen and (min-width: 640px) {
    input[type="image"] {
      margin-left:195px; } }

select, option {
  background:#B44770;
  border:none;
  color:#fff; }
  @media screen and (min-width: 640px) {
    select, option {
      width:100%; } }

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  height:30px;
  line-height:30px;
  padding:0 0 0 10px;
  border:0;
  border-radius:0; }

select.problem, input.problem, .problem {
  border-color:#f00 !important; }

.mfp_err {
  margin-top:5px;
  color:#f00;
  font-size:0.875rem; }

#thanks h2 {
  margin:60px 0 40px;
  text-align:center; }
#thanks .inner01 {
  text-align:center; }
#thanks .jp {
  margin-bottom:10px; }
#thanks .en {
  color:#858585;
  font-size:0.75rem; }
#thanks .gotoHome {
  padding:40px 0 60px; }
@media screen and (max-width: 639px) {
  #thanks h2 {
    margin:30px 0 15px; }
    #thanks h2 img {
      width:78.33333%; }
  #thanks .gotoHome {
    padding:20px 0 30px; }
    #thanks .gotoHome img {
      width:84.33333%; } }

/*# sourceMappingURL=contact.css.map */
